<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<th:block th:fragment="asideFragment">
  <!-- 카테고리/베스트 상품 영역 -->
<aside>
  <!-- 카테고리 -->
  <th:block th:replace="/fragments/category :: categoryFragment"></th:block>

  <!-- 베스트상품 배너 -->
  <article class="best">
    <h1><i class="fas fa-crown"></i>베스트상품</h1>
    <ol>
      <li>
        <a href="#">
          <div class="thumb">
            <i>1</i>
            <img src="https://via.placeholder.com/230" alt="item1" />
          </div>
          <h2>상품명</h2>
          <div class="org_price">
            <del>30,000</del>
            <span>10%</span>
          </div>
          <div class="dis_price">
            <ins>27,000</ins>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="thumb">
            <i>2</i>
            <img src="https://via.placeholder.com/50" alt="item1" />
          </div>
          <article>
            <h2>상품명</h2>
            <div class="org_price">
              <del>30,000</del>
              <span>10%</span>
            </div>
            <div class="dis_price">
              <ins>27,000</ins>
            </div>
          </article>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="thumb">
            <i>3</i>
            <img src="https://via.placeholder.com/50" alt="item1" />
          </div>
          <article>
            <h2>상품명</h2>
            <div class="org_price">
              <del>30,000</del>
              <span>10%</span>
            </div>
            <div class="dis_price">
              <ins>27,000</ins>
            </div>
          </article>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="thumb">
            <i>4</i>
            <img src="https://via.placeholder.com/50" alt="item1" />
          </div>
          <article>
            <h2>상품명</h2>
            <div class="org_price">
              <del>30,000</del>
              <span>10%</span>
            </div>
            <div class="dis_price">
              <ins>27,000</ins>
            </div>
          </article>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="thumb">
            <i>5</i>
            <img src="https://via.placeholder.com/50" alt="item1" />
          </div>
          <article>
            <h2>상품명</h2>
            <div class="org_price">
              <del>30,000</del>
              <span>10%</span>
            </div>
            <div class="dis_price">
              <ins>27,000</ins>
            </div>
          </article>
        </a>
      </li>
    </ol>
  </article>
</aside>
<!-- 카테고리/베스트 상품 영역 -->
</th:block>
</html>