<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.thymeleaf.org"
       layout:decorate="/admin/admin_layout">

      <section id="admin-cs-notice-list" class="admin-cs-list" layout:fragment="content">

          <nav>
            <h3>공지사항 목록</h3>
            <p>
              HOME > 고객센터 > <strong>공지사항</strong>
            </p>
          </nav>
          <!-- 공지사항 목록 컨텐츠 시작 -->
          <section>
            <form th:action="@{#}" method="post">
            <div>
              <select name="searchCate1" id="searchCate1">
                <option value="">유형선택</option>
              </select>
              <input type="text" name="searchKeyword" id="searchKeyword" value="" placeholder="검색어를 입력하세요." >
              <input type="hidden" name="searchPg" id="searchPg">
            </div>
            <table class="listTable">
              <thead>
                <tr>
                  <th><input type="checkbox" name="all"/></th>
                  <th>번호</th>
                  <th>유형</th>
                  <th>제목</th>
                  <th>조회</th>
                  <th>날짜</th>
                  <th>관리</th>
                </tr>
              </thead>
              <tbody class="listTbody">
                <tr th:each="article:${noticeList}">
                  <td><input type="checkbox" name="chk" th:value="${article.noticeNo}"/></td>
                  <td>[[${article.noticeNo}]]</td>
                  <td>[[${article.c1Name}]]</td>
                  <td><a th:href="@{/admin/cs/notice/view}">[ [[${article.c2Name}]] ] [[${article.title}]]</a></td>
                  <td> 0 </td>
                  <td>[[${article.rdateSub}]]</td>
                  <td>
                    <a th:href="@{#}" class="noticeDelete">[삭제]</a>
                    <br/>
                    <a th:href="@{#}" class="noticeUpdate">[수정]</a>
                  </td>
                </tr>
                <tr th:if="${noticeList.size() eq 0}">
                  <td colspan="7">
                    조회 결과가 없습니다.
                  </td>
                </tr>
              </tbody>
            </table>

            <div>
              <input type="submit" value="선택삭제" class="deleteAll" />
              <a th:href="@{/admin/cs/notice/write}" class="writeBtn">작성하기</a>
            </div>
            </form>
            <div class="paging">
                        <span class="prev">
                            <a href="#"><&nbsp;이전</a>
                        </span>
              <span class="num">
                            <a href="#" class="on">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#">7</a>
                        </span>
              <span class="next">
                            <a href="#">다음&nbsp;></a>
                        </span>
            </div>

          </section>
          <!-- 상품목록 컨텐츠 끝 -->
      </section>
</html>
